.spinner {
  margin: 24px auto;
  width: 64px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 10px solid var(--color-gray-400);
  border-top: 10px solid var(--color-gray-200);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}
