.chips-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4px;
  padding: 8px;
}

.chip {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px;
  background-color: var(--color-gray-200);
  max-width: 96px;
  width: 25%;
  overflow: hidden;
  border-radius: 4px;
}
.chip span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.chip button {
  border: none;
  background-color: inherit;
  width: 12px;
  height: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
