.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  box-sizing: border-box;
  margin-top: 96px;
}

/* 1st row */

.title {
  width: 100%;
  overflow-y: auto;
  display: flex;
  gap: 24px;
}

.img-container {
  /* min-width: 96px; */
  width: 40%;
  max-width: 200px;
  overflow: hidden;
  border-radius: 8px;
}

.img-container img {
  border-radius: 8px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info h1 {
  color: var(--color-gray-400);
  font-size: 34px;
}

.info p {
  text-transform: capitalize;
  font-size: 18px;
}
.info span {
  color: var(--color-gray-400);
  font-weight: bold;
}

/* 2nd row */
.about {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about h3 {
  font-size: 24px;
}

.about h4 {
  font-size: 18px;
}

.about > div p {
  margin-top: 8px;
  color: var(--color-gray-700);
}

/*3rd row */
.exp {
  display: flex;
  gap: 8px;
  margin-top: 12px;
}

.exp p {
  color: var(--color-gray-700);
  font-size: 18px;
  font-weight: bold;
}

/*4th row */

.apply {
  overflow: hidden;
  width: 100%;
  display: flex;
  margin-top: 16px;
}

.apply button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 100%;
  background-color: var(--color-primary);
  padding: 8px;
  border-radius: 6px;
  gap: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.apply button span:first-child {
  width: 48px;
  overflow: hidden;
}

.apply button span:last-child {
  color: var(--color-gray-200);
  font-size: 24px;
  font-weight: bold;
}

.apply button:hover {
  transform: scale(1.1);
}

/*Fix styles*/

@media (max-width: 467px) {
  .wrapper > div {
    width: 95%;
    margin: 0 auto;
  }
  .title {
    flex-direction: column;
    height: auto;
    overflow: hidden;
  }
  .img-container {
    width: 100%;
    max-width: none;
    margin: 0 auto;
  }
  .info {
    width: 100%;
  }
}
