.sidebar {
  border: 1px solid var(--color-gray-200);
  margin: 0 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 80px;
  align-items: center;
  padding: 8px 0;
  border-radius: 4px;
  position: relative;
}

.toggle {
  position: absolute;
  width: 32px;
  border: none;
  border-radius: 8px;
  right: -26px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
}
.open .toggle {
  transform: rotate(0);
}
.open {
  width: 160px;
}

.logo {
  width: 64px;
  overflow: hidden;
}

.open .logo {
  width: 120px;
}

.divider {
  width: 90%;
  border: 1px solid var(--color-gray-200);
  margin: 4px 0;
}

.content {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content > div {
  width: 100%;
}

.content > div img {
  width: 32px;
}

.open .content {
  width: 90%;
}

.open .content > div {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: bold;
}
