.container {
  display: grid;
  grid-template-columns: 1fr 9fr;
  gap: 16px;
}

.content {
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.content .filters {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
