.container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.content {
  border: 1px solid red;
}

.content .filters {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
