*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  --color-primary: #059669;
  --color-link: #3b82f6;
  --color-gray-700: #374151;
  --color-gray-500: #6b7280;
  --color-gray-400: #9ca3af;
  --color-gray-200: #e5e7eb;
  --color-bg-paper: #ffff;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
